{% extends 'layout/layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/insert.css' %}">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Thêm chi tiết trường đại học</h2>

    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label>Mã trường</label>
            <select name="matruong" class="form-control" required>
                <option value="">-- Chọn trường --</option>
                {% for truong in truongs %}
                    <option value="{{ truong.matruong }}">{{ truong.tentruong }}</option>
                {% endfor %}
            </select>
        </div>

                <div class="mb-4">
                    <label class="form-label">Mô tả</label>
                    <textarea name="mota" id="editor_mota" class="form-control" rows="3">{{ old_data.mota }}</textarea>
                </div>

        <div class="mb-3">
            <label>Ghi chú</label>
            <input type="text" name="ghichu" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Lưu</button>
        <a href="{% url 'admin_chitiettruong_list' %}" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
<script>
    // Khởi tạo CKEditor
    CKEDITOR.replace('editor_mota', {
        height: 200,
        // Cấu hình thanh công cụ đầy đủ để chỉnh màu sắc, font...
        toolbar: [
            { name: 'basicstyles', items: ['Bold', 'Italic', 'Underline', 'Strike', '-', 'RemoveFormat'] },
            { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
            { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
            { name: 'colors', items: ['TextColor', 'BGColor'] },
            { name: 'links', items: ['Link', 'Unlink'] },
            { name: 'insert', items: ['Table', 'HorizontalRule'] }
        ]
    });
</script>
{% endblock %}