{% extends 'layout/layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/insert.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Thêm ngành học</h2>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label>Tên ngành</label>
            <input type="text" name="tennganh" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Lĩnh vực</label>
            <input type="text" name="linhvuc" class="form-control">
        </div>

        <div class="mb-3">
            <label>Mô tả</label>
            <textarea name="mota" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Lưu</button>
        <a href="{% url 'admin_nganh_list' %}" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
{% endblock %}